body {
    background: rgb(239, 227, 227);
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}
.header {
    text-align: center;
}
.avatar {
    height: 300px;
}
.header__title {
    font-size: 30px;
}
.header__subtitle {
    color: rgb(26, 53, 160);
    
}
main {
    text-align: center;
    border: 1px solid darksalmon;
}
.skills ol{
    list-style: none;
}
.separator {
    width: 50%;
    height: 5px;
    color: black;
    margin-bottom: 20px;
}
.video iframe {
 width: 800px;
 height: 400px;
 border: none;
}
.ed__table {
    border-collapse: collapse;
    width: 100%;
}
.ed__table td,
.ed__table th {
    border: 1px solid black;
    padding: 10px;
}
.quote {
    font-size: 32px;
}

.form {
    margin: 0 auto;
    width: 600px;
}
.form__control {
    width: 100%;
}
.form__submit {
    display: block;
    margin: 0 auto;
}
.control__text {
    width: 70%;
}
footer {
    height: 60px;
    text-align: center;
    background: rgb(155, 149, 149);
    padding-top: 20px;

}

.contacts__links {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}